<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Curriculum Helper</title>

    <!--Icon-->
    <link rel="shortcut icon" type="image/png" href="../public/img/icons8-study-64.png" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="../public/css/error.css">

</head>

<body>
    <div class="content">
        <!-- header -->
        <nav class="navbar navbar-dark " style="background-color: #053742;margin-bottom: 0px;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Curriculum Helper</a>
                <div class="d-flex" role="search">
                    <input class="form-control me-2" id="search-bar" type="search" placeholder="subject and code"
                        aria-label="Search">
                    <button class="btn btn-outline-light" onclick="search_course()">Search</button>
                </div>
            </div>
        </nav>
        <!-- can be replace after changing to ejs
        <%- include('header'); -%> -->

        <div>
            <img src="../public/img/404-Error-bro.png" class="img" alt="">
        </div>

        <div>
            <h1 class="oops">Oops!</h1>
        </div>
        <div>
            <p class="reminder">It seems like you didn't type anything!</p>
        </div>
    </div>


    <!-- Footer -->
    <footer class="footer">
        <div class="container-fluid">
            <p style="margin-bottom: 0px;">© Team_07 2022 All rights reserved</p>
        </div>
    </footer>
    <!-- can be replace after changing to ejs
     <%- include('footer'); -%> -->
</body>