<link rel="stylesheet" type="text/css" href="/css/loading-page.css" />
<div class="loading">Loading...</div>

<script>
    let footer = document.getElementById('after-degree-structure');
    footer.setAttribute('opacity','0')
</script>