# Specify what file(s) will not be push to remote repo
/project/node_modules
/project/DAO.js
/project/degree-structure/degree-structure-dao.js
/project/homepage-degree-name/degree-name-dao.js
/project/render.js
/API_showcase
/project/homepage/degree-name-dao.js
/project/public/homepage-second-css