body {
  background: #dfe9ff;
  font-family: Lato, sans-serif;
}

nav {
  height: 50px;
  background: #ffffff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  z-index: -2;
  position: relative;
}
nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav ul li {
  margin-right: 30px;
  color: #4b71ff;
}
nav ul li:last-child {
  margin-right: 0px;
}

nav .logo {
  height: 50px;
  width: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  margin-right: 30px;
  background-color: #4b71ff;
  cursor: pointer;
}

.banner {
  height: auto;
  margin: 32px 0px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .banner {
    height: 450px;
    margin-bottom: 32px;
  }
}
.banner .banner-image {
  position: absolute;
  opacity: 0.25;
  right: 0px;
  top: 0px;
  height: 300px;
  z-index: -1;
  filter: drop-shadow(0 3rem 0.05rem #bfd8ff);
}
@media (min-width: 768px) {
  .banner .banner-image {
    display: inherit;
    height: 400px;
    top: 0px;
    opacity: 0.5;
  }
}
@media (min-width: 992px) {
  .banner .banner-image {
    height: 500px;
    top: -50px;
    opacity: 1;
  }
}

.searchbar {
  float: left;
  background-color: #bfd8ff;
  color: white;
  padding: 6px 10px;
  width: 160px;
  border: none;
  margin-top: 1px;
  margin-right: 8px;
  font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  border-bottom: white solid 2px;
  transition: 0.3s;
}

.searchbar::placeholder {
  color: #00106a;
  font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  /* transition: 0.2s; */
}

.searchbar:focus {
  width: 400px;
  font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s;
  /* Stops the input box from inheriting the styling from the inputs on the request form */
  border-bottom: white solid 2px;
  outline: none;
}

.btn-search {
  cursor: pointer;
  color: #00106a;
  text-decoration: none !important;
  font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  padding-top: 5px;
  margin-right: 40px;
}




.mb-30 {
  margin-bottom: 30px;
}

.card {
  padding: 16px 24px;
  background: #ffffff;
  height: 100%;
  position: relative;
  border: none;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.card h3.card-title {
  font-weight: 700;
  font-size: 1.3rem;
  color: #00106a;
}
.card p {
  color: #989dc5;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 72px;
}
.card .card-link {
  position: absolute;
  bottom: 18px;
}
.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.card .card-icon {
  width: 60px;
  margin-bottom: 8px;
  position: relative;
  top: 0;
  left: -12px;
}

footer {
  background: #00106a;
  margin: 32px 0 0px;
  padding: 32px 0;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  color: #ffffff;
  margin-bottom: 16px;
}