:root { 
  --black: #000000;
  --cyprus: #053742b2;
  --cyprus-2: #053742;
  --fiord: #455266;
  --gallery: #eeeeee;
  --gun-powder: #3b3f5c;
  --gunsmoke: #80878f;
  --kdsn0d: #e8f0f2;
  --moonstone: #39a2db;
  --mystic: #e0e6ed;
  --royal-blue: #605dec;
  --storm-gray: #6d7391;
  --storm-gray-2: #6e7491;
  --whisper: #f5f5fa;
  --white: #ffffff;
  --winter-wizard: #a2dbfa40;
  --winter-wizard-2: #a2dbfa;
 
  --font-size-l: 11px;
  --font-size-m: 10px;
  --font-size-xl: 12px;
  --font-size-xxl: 16px;
  --font-size-xxxl: 18px;
  --font-size-xxxxl: 20px;
  --font-size-xxxxxl: 24px;
 
  --font-family-belleza: "Belleza", Helvetica;
  --font-family-blinker: "Blinker", Helvetica;
  --font-family-blinker-extrabold: "Blinker-ExtraBold", Helvetica;
  --font-family-cabin-regular: "Cabin-Regular", Helvetica;
  --font-family-nunito_sans: "Nunito Sans", Helvetica;
  --font-family-roboto-bold: "Roboto-Bold", Helvetica;
}
.blinker-bold-cyprus-11px {
  color: var(--cyprus);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.blinker-semi-bold-moonstone-10px {
  color: var(--moonstone);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.blinker-bold-cyprus-10px {
  color: var(--cyprus);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.blinker-normal-fiord-12px {
  color: var(--fiord);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.blinker-bold-fiord-16px {
  color: var(--fiord);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.blinker-semi-bold-white-18px {
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.blinker-semi-bold-moonstone-18px {
  color: var(--moonstone);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.blinker-semi-bold-royal-blue-18px {
  color: var(--royal-blue);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.blinker-semi-bold-storm-gray-18px {
  color: var(--storm-gray);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.nunitosans-normal-storm-gray-16px {
  color: var(--storm-gray);
  font-family: var(--font-family-nunito_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.blinker-semi-bold-cyprus-10px {
  color: var(--cyprus-2);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.blinker-semi-bold-fiord-10px {
  color: var(--fiord);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.blinker-light-aqua-squeeze-14px {
  color: var(--kdsn0d);
  font-family: var(--font-family-blinker);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

.blinker-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.blinker-semi-bold-storm-gray-20px {
  color: var(--storm-gray-2);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.blinker-light-gunsmoke-16px {
  color: var(--gunsmoke);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
}

.belleza-normal-black-60px {
  color: var(--black);
  font-family: var(--font-family-belleza);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}

.blinker-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.blinker-normal-gunsmoke-20px {
  color: var(--gunsmoke);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.blinker-semi-bold-aqua-squeeze-24px {
  color: var(--kdsn0d);
  font-family: var(--font-family-blinker);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 600;
}

.nunitosans-normal-winter-wizard-18px {
  color: var(--winter-wizard-2);
  font-family: var(--font-family-nunito_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.cabin-regular-normal-gun-powder-16px {
  color: var(--gun-powder);
  font-family: var(--font-family-cabin-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.blinker-bold-storm-gray-22px {
  color: var(--storm-gray-2);
  font-family: var(--font-family-blinker);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

.border-1px-gallery {
  border: 1px solid var(--gallery);
}

.border-1px-storm-gray {
  border: 1px solid var(--storm-gray);
}

.border-2px-mystic {
  border: 2px solid var(--mystic);
}
